/* トップページの記事カードのサムネイルを統一 */
.post-entry .entry-cover {
    max-height: 180px; /* 好みで調整（150〜220pxくらいが無難） */
    overflow: hidden;
}

.post-entry .entry-cover img {
    width: 100%;
    height: 180px;     /* ↑と同じ値にする */
    object-fit: cover; /* 縦横比を保ちつつトリミング */
}

/* ヘッダーをスクロール固定 */
.header {
  position: sticky;
  top: 0;
  z-index: 1000;
}
.post-content figcaption {
  font-weight: 300;
  font-size: 0.2em;
  color: #1f1f1f;
}

body {
  outline: 5px solid red;
}
